<launch>
  <!-- device info -->
  <arg name="device_id" default="1" doc="The ID of the device [1, 128]."/>
  <arg name="device_type" value="qbhand" doc="The type of the device [qbhand, qbmove, ...]."/>
  <arg name="device_name" default="$(arg device_type)$(arg device_id)" doc="The unique device namespace used in the yaml controller configurations (also in the urdf if not already specified there)."/>
  <!-- description settings -->
  <arg name="robot_name" default="$(arg device_type)" doc="The unique robot namespace."/>
  <arg name="model" default="iiwa7"/>
  <arg name="robot_package" value="qb_hand" doc="The base package name prefix for the robot configurations [urdf, rviz, ...]."/>
  <arg name="source_list" default="[$(arg device_name)/joint_states]" doc="The joint_states source list for the joint_state_publisher."/>
  <arg name="use_rviz" default="true" doc="Choose whether or not to use rviz."/>
  <arg name="use_gui" default="true" doc="Choose whether or not to use gui."/>

  <include file="$(find iiwa_qbhand_description)/launch/iiwa_qbhand_upload.launch" >
    <arg name="model" value="$(arg model)" />
  </include>

  <!-- bring up robot description, joint and robot state publishers (also can start rviz) -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" unless="$(arg use_gui)" />
  <node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" if="$(arg use_gui)" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find iiwa_qbhand_description)/launch/iiwa_qbhand.rviz" required="true" />
</launch>