<launch>

    <arg name="iiwa_ns" default="iiwa" doc="The unique iiwa namespace."/>
    <arg name="robot_ns" default="iiwa" doc="The unique iiwa and qbhand namespace."/>

    <!-- | Parameters for iiwa | -->
    <arg name="hardware_interface" default="PositionJointInterface"/>
    <!-- The is gonna have its nodes/topics under a namespace with the same name. -->
    <arg name="robot_name" default="iiwa"/>
    <!-- Model of the iiwa to use : iiwa7, iiwa14 -->
    <arg name="model" default="iiwa7"/>

    <!-- | Parameters for gripper | -->
    <arg name="device_name" default="qbhand" doc="The unique gripper name."/>
    <arg name="gripper_ns" default="qbhand" doc="The unique gripper namespace."/>


    <!-- Bringup qbhand driver -->
    <include file="$(find iiwa_qbhand_bringup)/launch/qbhand_bringup.launch">
        <arg name="device_name" value="$(arg device_name)" />
        <arg name="robot_namespace" value="$(arg gripper_ns)" />
    </include>

    <!-- Bringup iiwa driver -->
    <include file="$(find iiwa_qbhand_bringup)/launch/iiwa_bringup.launch">
        <arg name="hardware_interface" value="$(arg hardware_interface)" />
        <arg name="robot_name" value="$(arg robot_name)" />
        <arg name="model" value="$(arg model)" />
        <arg name="robot_ns" value="$(arg robot_ns)" />
        <arg name="iiwa_ns" value="$(arg iiwa_ns)" />
    </include>

</launch>