<launch>

    <!-- | Parameters for iiwa | -->
    <arg name="iiwa_ns" default="iiwa" doc="The unique iiwa namespace."/>
    <arg name="hardware_interface" default="PositionJointInterface"/>
    <!-- Model of the iiwa to use : iiwa7, iiwa14 -->
    <arg name="model" default="iiwa7"/>

    <!-- | Parameters for gripper | -->
    <arg name="device_name" default="qbhand" doc="The unique gripper name."/>
    <arg name="gripper_ns" default="qbhand" doc="The unique gripper namespace."/>

    <!-- Bringup iiwa driver -->
    <!-- We need to integate the two `/joint_states` topics published by iiwa_hw (/joint_states) and device_control (/control/joint_states),
    if we don't remap a new name for `joint_states`, the node `joint_state_publish` will publish and subscribe topic `/joint_states` simultaneously，
    see ![rqt_graph](https://cdn.jsdelivr.net/gh/lyh458/ImageRepo@main/image/1627614796407-1627614796385.png), 
    which may result in some issues, eg. the rate of `/joint_states` will be doubled  -->
    <remap from="/$(arg iiwa_ns)/joint_states" to="/$(arg iiwa_ns)/joint_states"/>
    <include ns="$(arg iiwa_ns)" file="$(find iiwa_qbhand_bringup)/launch/iiwa_bringup.launch">
        <arg name="hardware_interface" value="$(arg hardware_interface)" />
        <arg name="iiwa_ns" value="$(arg iiwa_ns)" />
        <arg name="model" value="$(arg model)" />
    </include>

    <!-- Bringup qbhand driver -->
    <!-- For better understanding, remap `control/joint_states` from to `/qbhand_state/joint_states` -->
    <remap from="/$(arg gripper_ns)/control/joint_states" to="/$(arg gripper_ns)/joint_states"/>
    <include file="$(find iiwa_qbhand_bringup)/launch/qbhand_bringup.launch">
        <arg name="device_name" value="$(arg device_name)" />
        <arg name="robot_namespace" value="$(arg gripper_ns)" />
    </include>

</launch>